<section class="py-5">
    <div class="container py-3 py-lg-4">
        <h2 class="text-center mb-4">Cartzilla Feature <span class="fw-light">Highlights</span></h2>
        <div class="row text-center pt-4">
            <div class="col-lg-3 col-md-4 col-sm-6 mb-grid-gutter pb-2">
                <a routerLink="empleados">
                    <img class="inline-block mb-4" src="../../../assets/img/empleado-icono.png" width="90" alt="Gulp icon">
                </a>
                <h6>Empleados</h6>
                <p class="fs-ms text-muted mb-0">Texto</p>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-grid-gutter pb-2"><img class="inline-block mb-34" src="../../../assets/img/seccion-icono.png" width="90" alt="Sass icon">
                <h6>Secciones</h6>
                <p class="fs-ms text-muted mb-0">Texto</p>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-grid-gutter pb-2">
                <a routerLink="mesas">
                    <img class="inline-block mb-4" src="../../../assets/img/mesa-icono.png" width="90" alt="Sass icon">
                </a>
                <h6>Mesas</h6>
                <p class="fs-ms text-muted mb-0">Texto</p>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-grid-gutter pb-2">
                <a routerLink="ordenes">
                    <img class="inline-block mb-4" src="../../../assets/img/cocinar-icono.jpg" width="90" alt="Gulp icon">
                </a>
                <h6>Ordenes</h6>
                <p class="fs-ms text-muted mb-0">Texto</p>
            </div>

        </div>
    </div>
</section>