<div class="container">

    <h1>
        Menu Principal</h1>


    <div class="border border-success p-2 mb-2">
        <div class="row row-cols-1 row-cols-md-2 g-4">

            <div id="mesa" class="border rounded-circle bg-danger ml-5 mt-5" style="width:100px; height:100px">
                <h2>1</h2>
            </div>
            <div id="mesa" class="border rounded-circle bg-danger ml-5 mt-5" style="width:100px; height:100px">
                <h2>2</h2>
            </div>

            <div id="mesa" class="border rounded-circle bg-danger ml-5 mt-5" style="width:100px; height:100px">
                <h2>3</h2>
            </div>

            <div id="mesa" class="border rounded-circle bg-danger ml-5 mt-5" style="width:100px; height:100px">
                <h2>4</h2>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-md-2 g-4">

            <div id="mesa" class="border rounded-circle bg-success ml-5 mt-5" style="width:100px; height:100px">
                <h2>1</h2>
            </div>
            <div id="mesa" class="border rounded-circle bg-success ml-5 mt-5" style="width:100px; height:100px">
                <h2>2</h2>
            </div>

            <div id="mesa" class="border rounded-circle bg-success ml-5 mt-5" style="width:100px; height:100px">
                <h2>3</h2>
            </div>

            <div id="mesa" class="border rounded-circle bg-success ml-5 mt-5" style="width:100px; height:100px">
                <h2>4</h2>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-md-2 g-4">

            <div id="mesa" class="border rounded-circle bg-secondary ml-5 mt-5" style="width:100px; height:100px">
                <h2>1</h2>
            </div>
            <div id="mesa" class="border rounded-circle bg-secondary ml-5 mt-5" style="width:100px; height:100px">
                <h2>2</h2>
            </div>

            <div id="mesa" class="border rounded-circle bg-secondary ml-5 mt-5" style="width:100px; height:100px">
                <h2>3</h2>
            </div>

            <div id="mesa" class="border rounded-circle bg-secondary ml-5 mt-5" style="width:100px; height:100px">
                <h2>4</h2>
            </div>
        </div>

    </div>
</div>